@import "tailwindcss";

@theme {
  --color-deepIndigo: #000853;
  --color-textGrey: #898DA9;

  --color-lavander-50: #F0EAF8;
  --color-lavander-100: #CBB6E5;

  --color-active-50: #FAF9FA;
  --color-active-100: #761BE4;
  --color-active-200: #6A19CD;

  --color-danger-50: #FEECEC;
  --color-danger-100: #ED4545;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* elements reset */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

body {
  font-family: "Inter", sans-serif;
}

/* ------------------- */
/* RangeSlider         */
/* ------------------- */
@layer components {
  .range-slider {
    @apply w-full h-1 rounded-lg outline-none;
    appearance: none;
    -webkit-appearance: none;
    background: linear-gradient(
      to right,
      var(--color-active-100) 0%,
      var(--color-active-100) var(--progress),
      var(--color-lavander-100) var(--progress),
      var(--color-lavander-100) 100%
    );
  }

  .range-slider::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-active-100 rounded-full cursor-pointer;
    -webkit-appearance: none;
  }

  .range-slider::-moz-range-thumb {
    @apply border-0 w-4 h-4 bg-active-100 rounded-full cursor-pointer;
  }
}

/* ------------------- */
/* Calendar            */
/* ------------------- */
@layer components {
  .react-calendar {
    @apply bg-white rounded-lg border border-lavander-100 p-6;
  }

  .react-calendar__navigation {
    @apply flex p-3;
  }

  .react-calendar__month-view__weekdays {
    @apply grid grid-cols-7 text-sm font-medium text-center py-2;
  }

  .react-calendar__month-view__weekdays abbr {
    @apply no-underline;
  }

  .react-calendar__tile {
    @apply rounded-full aspect-square border-0 cursor-pointer;
  }

  .react-calendar__tile--active {
    @apply bg-active-100 text-white;
  }

  .calendar-national-holiday {
    @apply text-textGrey;
  }
}