@import "tailwindcss";

@theme {
  --color-deepIndigo: #000853;

  --color-lavander-50: #F0EAF8;
  --color-lavander-100: #CBB6E5;

  --color-active-50: #FAF9FA;
  --color-active-100: #761BE4;

  --color-danger-50: #FEECEC;
  --color-danger-100: #ED4545;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* elements reset */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

body {
  font-family: "Inter", sans-serif;
}

@layer components {
  .range-slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.5rem;
    outline: none;

    background: linear-gradient(
      to right,
      var(--color-active-100) 0%,
      var(--color-active-100) var(--progress),
      var(--color-lavander-100) var(--progress),
      var(--color-lavander-100) 100%
    );
  }

  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--color-active-100);
    border-radius: 100%;
    cursor: pointer;
  }

  .range-slider::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: var(--color-active-100);
    border-radius: 100%;
    cursor: pointer;
    border: none;
  }
}
